apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: {{ .Values.daemonSet.name | quote }}
  namespace: {{ .Release.Namespace | quote }}
  labels:
    tier: node
    app: multus
    name: multus
spec:
  selector:
    matchLabels:
      name: multus
  updateStrategy:
    type: RollingUpdate
  template:
    metadata:
      labels:
        tier: node
        app: multus
        name: multus
    spec:
      hostNetwork: true
      hostPID: true
      tolerations:
{{- toYaml .Values.tolerations | nindent 8 }}
      serviceAccountName: {{ .Values.serviceAccount.name | quote }}
      containers:
        - name: kube-multus
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command: [ "/usr/src/multus-cni/bin/multus-daemon" ]
          resources:
{{- toYaml .Values.resources.daemon | nindent 12 }}
          securityContext:
            privileged: true
          terminationMessagePolicy: FallbackToLogsOnError
          volumeMounts:
            - name: cni
              mountPath: /host/etc/cni/net.d
            - name: cnibin
              mountPath: /opt/cni/bin
            - name: host-run
              mountPath: /host/run
            - name: host-var-lib-cni-multus
              mountPath: /var/lib/cni/multus
            - name: host-var-lib-kubelet
              mountPath: /var/lib/kubelet
              mountPropagation: HostToContainer
            - name: host-run-k8s-cni-cncf-io
              mountPath: /run/k8s.cni.cncf.io
            - name: host-run-netns
              mountPath: /run/netns
              mountPropagation: HostToContainer
            - name: multus-daemon-config
              mountPath: /etc/cni/net.d/multus.d
              readOnly: true
            - name: hostroot
              mountPath: /hostroot
              mountPropagation: HostToContainer
            - mountPath: /etc/cni/multus/net.d
              name: multus-conf-dir
          env:
            - name: MULTUS_NODE_NAME
              valueFrom:
                fieldRef:
                  fieldPath: spec.nodeName
      initContainers:
        - name: install-multus-binary
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          command:
            - "/usr/src/multus-cni/bin/install_multus"
            - "-d"
            - "/host/opt/cni/bin"
            - "-t"
            - "thick"
          resources:
{{- toYaml .Values.resources.init | nindent 12 }}
          securityContext:
            privileged: true
          terminationMessagePolicy: FallbackToLogsOnError
          volumeMounts:
            - name: cnibin
              mountPath: /host/opt/cni/bin
              mountPropagation: Bidirectional
      terminationGracePeriodSeconds: 10
      volumes:
        - name: cni
          hostPath:
            path: {{ .Values.hostPaths.cniConfigDir | quote }}
        - name: cnibin
          hostPath:
            path: {{ .Values.hostPaths.cniBinDir | quote }}
        - name: hostroot
          hostPath:
            path: /
        - name: multus-daemon-config
          configMap:
            name: {{ .Values.configMap.name | quote }}
            items:
            - key: daemon-config.json
              path: daemon-config.json
        - name: host-run
          hostPath:
            path: {{ .Values.hostPaths.runDir | quote }}
        - name: host-var-lib-cni-multus
          hostPath:
            path: {{ .Values.hostPaths.varLibCniMultus | quote }}
        - name: host-var-lib-kubelet
          hostPath:
            path: {{ .Values.hostPaths.varLibKubelet | quote }}
        - name: host-run-k8s-cni-cncf-io
          hostPath:
            path: {{ .Values.hostPaths.runK8sCniCncfIo | quote }}
        - name: host-run-netns
          hostPath:
            path: {{ .Values.hostPaths.runNetns | quote }}
        - name: multus-conf-dir
          hostPath:
            path: {{ .Values.hostPaths.multusConfDir | quote }}
